<md-card>
    <md-table-container>
        <table md-table md-row-select multiple ng-model="ctrl.selected">
            <thead md-head md-order="ctrl.order">
            <tr md-row>
                <th md-column md-order-by="name"><span>Department</span></th>
                <th md-column md-order-by="email"><span>E-mail</span></th>
                <th md-column md-order-by="parent_name"><span>Parent</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="d" md-select-id="d.department_id" md-auto-select ng-repeat="d in ctrl.departments">
                <td md-cell>
                    <a ui-sref="departments_view({ department_id: d.department_id })">{{ d.name }}</a>
                </td>
                <td md-cell>
                    {{ d.email }}
                </td>
                <td md-cell>
                    {{ d.parent_name }}
                    <em ng-hide="d.parent_name">[none]</em>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
