<md-card id="{{ ctrl.department.department_id }}">
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media" layout>
                <i class="fa fa-building" aria-hidden="true"></i>
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Department actions</md-tooltip>
                        <i class="fa fa-cog"></i>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div>
                        <md-button aria-label="Delete department" class="md-fab md-warn md-raised md-mini"
                                   ng-click="ctrl.deleteDepartment()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Delete department
                            </md-tooltip>
                            <i class="fa fa-trash" aria-label="Delete department"></i>
                        </md-button>
                        <md-button aria-label="Edit department" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.editDepartment()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Edit department
                            </md-tooltip>
                            <i class="fa fa-edit" aria-label="Edit department"></i>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>

            <span class="md-headline">
                <span class="sd-muted-text">{{ ctrl.department.path }}</span>
                {{ ctrl.department.name }}
            </span>
            <span class="md-subhead description">
                E-mail: {{ ctrl.department.email }}
            </span>
        </md-card-title-text>
    </md-card-title>
</md-card>

<md-card ng-hide="ctrl.department_users.length === 0">
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">
                <i class="fa fa-users" aria-hidden="true"></i>
                Users in department
            </span>
            <span class="md-subhead description">
                <em>Click name to edit user</em>
            </span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list ng-cloak layout="row">
            <md-list-item class="secondary-button-padding" ng-repeat="u in ctrl.department_users" flex-gt-md="50"
                          ui-sref="users_view({ email: u.email })">
                <p>{{ u.display_name }}</p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card ng-hide="ctrl.department_mailboxes.length === 0">
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">
                <i class="fa fa-folder-open" aria-hidden="true"></i>
                Mailboxes fetched for department
            </span>
            <span class="md-subhead description">
                <em>Click name to edit mailbox</em>
            </span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list ng-cloak layout="row">
            <md-list-item class="secondary-button-padding" ng-repeat="m in ctrl.department_mailboxes" flex-gt-md="50"
                          ui-sref="mailboxes_view({ mailbox_id: m.mailbox_id })">
                <p>{{ m.name }}</p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card ng-hide="ctrl.department_children.length === 0">
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">
                <i class="fa fa-building" aria-hidden="true"></i>
                Child-departments in department
            </span>
            <span class="md-subhead description">
                <em>Click name to edit department</em>
            </span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list ng-cloak layout="row">
            <md-list-item class="secondary-button-padding" ng-repeat="c in ctrl.department_children" flex-gt-md="50"
                          ui-sref="departments_view({ department_id: c.department_id })">
                <p>{{ c.name }}</p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="deleteDepartment">
        <md-dialog aria-label="Delete department">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Delete department</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelDeleteDepartment()">
                            <i class="fa fa-close" aria-label="Cancel delete department"></i>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>

                    <div class="md-dialog-content" ng-show="ctrl.department_children.length > 0">
                        <p>
                            This department has child-departments, those need to be moved or deleted before this department
                            may be deleted.
                        </p>
                    </div>
                    <div class="md-dialog-content" ng-show="ctrl.department_children.length === 0">
                        <p>
                            The tickets currently belonging to this department have to be moved. Choose what should be
                            done with them.
                        </p>

                        <md-input-container class="md-block">
                            <label>Move tickets in department to:</label>
                            <md-select ng-model="ctrl.delete_new_ticket_department">
                                <md-option value="DELETE" class="sd-warn-text">[delete all]</md-option>
                                <md-option value="NONE">[no department]</md-option>
                                <md-option ng-repeat="department in ctrl.all_departments | orderBy: 'full_name' | filter: ctrl.possibleParents"
                                           value="{{ department.department_id }}">
                                    <span class="sd-muted-text">{{ department.path }}</span>
                                    <strong>{{ department.name }}</strong>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row" ng-show="ctrl.department_children.length === 0">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelDeleteDepartment()">
                        Cancel
                    </md-button>
                    <md-button class="md-warn" ng-click="ctrl.submitDeleteDepartment()">
                        <i class="fa fa-warning" aria-label="Delete department"></i>
                        Delete department
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="editDepartment">
        <md-dialog aria-label="Edit department">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit department</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelEditDepartment()">
                            <i class="fa fa-close" aria-label="Cancel edit department"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label for="department_name">Department name</label>
                            <input id="department_name" ng-model="ctrl.department.name" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="department_email">Department e-mail</label>
                            <input id="department_email" ng-model="ctrl.department.email" type="email">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Parent</label>
                            <md-select ng-model="ctrl.department.parent_id">
                                <md-option value="">[none]</md-option>
                                <md-option ng-repeat="department in ctrl.all_departments | orderBy: 'full_name' | filter: ctrl.possibleParents"
                                           value="{{ department.department_id }}">
                                    <span class="sd-muted-text">{{ department.path }}</span>
                                    <strong>{{ department.name }}</strong>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelEditDepartment()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitEditDepartment()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>
