html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0;
    padding: 0;
}

#login {
    width: 100%;
    max-width: 500px;
    margin: 1em auto;
}

.menu {
    background-color: transparent;
    border: none;
    min-height: unset;
    min-width: unset;
    margin: 16px;
    width: 36px;
}

md-toolbar {
    font-size: 24px;
    min-height: 56px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

md-toolbar .fa {
    font-size: 24px;
    vertical-align: top;
}

md-toolbar h1 {
    font-size: 1em;
    margin: auto .75em;
    font-weight: 500;
}

/* Sidenav area */

md-sidenav md-list-item.header {
    text-transform: uppercase;
}

md-sidenav md-list-item > .md-button {
    width: 100%;
    text-align: left !important;
}

md-sidenav md-list-item > .md-button.active {
    width: 100%;
    text-align: left !important;
    background-color: #666;
    color: white;
}

md-sidenav md-list-item > .md-button.active:hover {
    background: #333;
}

md-sidenav md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 1.25em 0 .5em 0;
}

.menu-icon {
    position: relative;
    width: 28px;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0 .25em .1em 0;
    font-size: 24px;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}

/* Primary content area */

#content {
    overflow: auto;
    margin: 2em;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

/* Utils */

.content-wrapper {
    position: relative;
}

/* Typography support coming in 0.8.0 */

md-bottom-sheet  md-icon {
    margin-right:20px;
}
