html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    height:100%;
    margin: 0;
    padding: 0;
}

#login {
    width: 100%;
    max-width: 500px;
    margin: 1em auto;
}

.menu {
    background-color: transparent;
    border: none;
    min-height: unset;
    min-width: unset;
    margin: 16px;
    width: 36px;
}

md-toolbar {
    font-size: 24px;
    min-height: 56px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

md-toolbar .fa {
    font-size: 24px;
    vertical-align: top;
}

md-toolbar h1 {
    font-size: 1em;
    margin: auto .75em;
    font-weight: 500;
}

/* Sidenav area */

md-sidenav md-list-item.header {
    text-transform: uppercase;
}

md-sidenav md-list-item > .md-button {
    width: 100%;
    text-align: left !important;
}

md-sidenav md-list-item > .md-button.active {
    width: 100%;
    text-align: left !important;
    background-color: #666;
    color: white;
}

md-sidenav md-list-item > .md-button.active:hover, md-sidenav md-list-item > .md-button.active:active {
    background: #333;
}

md-sidenav md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 1.25em 0 .5em 0;
}

.menu-icon {
    position: relative;
    width: 28px;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    padding: 0 .25em .1em 0;
    font-size: 24px;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}

/* Primary content area */

#content {
    margin: 1em;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

#content a, #content a:visited {
    color: #00af4f;
    text-decoration: none;
    font-weight: bold;
}
#content a:hover, #content a:active {
    color: #ff00ff;
}

#content .md-toolbar-tools div, #content .md-toolbar-tools .md-button {
    margin: auto 0;
}

#content md-card {
    position: relative;
}

#content md-card-title-text {
    position: relative;
}

#content md-card-title-text .has-top-right-icon {
    padding-right: 72px;
}

#content md-card-title-text md-fab-speed-dial {
    top: 0;
    right: 0;
}

#content md-card.dark {
    background: #333;
    color: white;
}

#content md-card md-card-title-media .fa {
    position: relative;
    width: 60px;
    display: inline-block;
    overflow: hidden;
    margin: auto 0;
    padding: 0 .25em .1em 0;
    font-size: 48px;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
}

#content .md-button.share {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    margin: 8px auto 16px 0;
    position: absolute;
    top: 10px;
    right: 25px;
}

#content img {
    display: block;
    height: auto;
    max-width: 500px;
}

#addTicketReply md-dialog, #createUser md-dialog {
    width: 100%;
}

/* Utils */

.content-wrapper {
    position: relative;
}

.user-department-select-all {
    padding-top: 1em;
}
