<md-card>
    <md-toolbar class="md-table-toolbar alternate" ng-show="ctrl.selected.length">
        <div class="md-toolbar-tools" layout-align="space-between">
            <div>{{ctrl.selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
            <md-button class="md-icon-button" ng-click="ctrl.delete($event)" aria-label="Remove selected">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select multiple ng-model="ctrl.selected">
            <thead md-head md-order="ctrl.order">
                <tr md-row>
                    <th md-column md-order-by="subject"><span>Subject</span></th>
                    <th md-column md-order-by="updates"><span>Updates</span></th>
                    <th md-column md-order-by="last_update" md-desc><span>Last update</span></th>
                    <th md-column md-order-by="status"><span>Status</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row md-select="t" md-select-id="ticket_id" md-auto-select
                    ng-repeat="t in ctrl.tickets | orderBy: ctrl.order">
                    <td md-cell>
                        <a ui-sref="tickets_view({ ticket_id: t.ticket_id })">{{ t.subject }}</a><br />
                        By {{ t.created_by }} on {{ t.created_at }}
                    </td>
                    <td md-cell>{{ t.updates }}</td>
                    <td md-cell>
                        {{ t.last_update }}
                    </td>
                    <td md-cell>{{ t.status }}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>


    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="ctrl.query.page"
                         md-total="{{ ctrl.tickets.count }}" md-on-paginate="" md-page-select></md-table-pagination>
</md-card>
