<md-card id="{{ ctrl.ticket.ticket_id }}">
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media" layout>
                <i class="fa fa-envelope-open-o" aria-hidden="true" ng-show="ctrl.ticket.status == 'open'"></i>
                <i class="fa fa-envelope-open-o" aria-hidden="true" ng-show="ctrl.ticket.status == 'new'"></i>
                <i class="fa fa-pause-circle-o" aria-hidden="true" ng-show="ctrl.ticket.status == 'awaiting-client'"></i>
                <i class="fa fa-envelope-o" aria-hidden="true" ng-show="ctrl.ticket.status == 'closed'"></i>
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Ticket actions</md-tooltip>
                        <i class="fa fa-cog"></i>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div>
                        <md-button aria-label="Delete ticket" class="md-fab md-warn md-raised md-mini"
                                   ng-click="ctrl.deleteTicket()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Delete ticket
                            </md-tooltip>
                            <i class="fa fa-trash" aria-label="Delete ticket"></i>
                        </md-button>
                        <md-button aria-label="Change department" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.changeDepartment()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Change department
                            </md-tooltip>
                            <i class="fa fa-building" aria-label="Change department"></i>
                        </md-button>
                        <md-button aria-label="Change status" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.changeStatus()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Change status
                            </md-tooltip>
                            <i class="fa fa-tag" aria-label="Change status"></i>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>
            <span class="md-headline has-top-right-icon">{{ ctrl.ticket.subject }}</span>
            <span class="md-subhead description">
                By {{ ctrl.ticket.created_by }} on {{ ctrl.ticket.created_at }} in
                {{ ctrl.ticket.department_name || "no_department" }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        {{ ctrl.ticket.message }}
    </md-card-content>
</md-card>

<md-card ng-repeat="tu in ctrl.updates" ng-class="{ dark: tu.internal }" id="{{ tu.ticket_update_id }}">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                <i class="fa fa-eye-slash" ng-show="tu.internal"></i> {{ tu.created_by }} wrote on {{ tu.created_at }}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        {{ tu.message }}
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="changeDepartment">
        <md-dialog aria-label="Change department">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Change department</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelDepartmentChange()">
                            <i class="fa fa-close" aria-label="Cancel status department"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Change department to...</label>
                                <md-select ng-model="ctrl.change_department_id">
                                    <md-option value="">[no department]</md-option>
                                    <md-option ng-repeat="department in ctrl.departments | orderBy: 'full_name'"
                                               value="{{ department.department_id }}">
                                        <span class="sd-muted-text">{{ department.path }}</span>
                                        <strong>{{ department.name }}</strong>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelDepartmentChange()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitDepartmentChange()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="changeStatus">
        <md-dialog aria-label="Change status">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Change status</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelStatusChange()">
                            <i class="fa fa-close" aria-label="Cancel status change"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Change status to...</label>
                                <md-select ng-model="ctrl.change_status">
                                    <md-option ng-repeat="status in ctrl.statuses" value="{{ status.name }}">
                                        {{ status.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelStatusChange()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitStatusChange()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="addTicketReply">
        <md-dialog aria-label="Add reply">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Add reply</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelReply()">
                            <i class="fa fa-close" aria-label="Cancel reply"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label for="replyMessage">Message</label>
                            <textarea id="replyMessage" ng-model="ctrl.reply.message" rows="5" md-select-on-focus
                                      ></textarea>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-switch class="md-primary" ng-model="ctrl.reply.internal">
                                Internal reply (not visible to client)
                            </md-switch>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Change status to...</label>
                                <md-select ng-model="ctrl.reply.status_update">
                                    <md-option value="">[no change]</md-option>
                                    <md-option ng-repeat="status in ctrl.statuses" value="{{ status.name }}">
                                        {{ status.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelReply()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitReply()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>

<md-button class="md-fab md-fab-bottom-right" aria-label="Add reply" ng-click="ctrl.addReply()">
    <md-tooltip md-direction="top">Add reply</md-tooltip>
    <i class="fa fa-reply" aria-hidden="true"></i>
</md-button>
