<?php declare(strict_types = 1);

return [
    'logger' => function () {
        $logger = new \Monolog\Logger('spotdesk');
        $logger->pushHandler((new \Monolog\Handler\StreamHandler(
            __DIR__ . '/../var/logs/' . (php_sapi_name() === 'cli' ? 'cli' : 'web') . '-' . date('Ymd') . '.log',
            \Monolog\Logger::NOTICE
        ))->setFormatter(new \Monolog\Formatter\LineFormatter()));
        return $logger;
    },

    // Note: if the site URL starts with https:// the SecurityHeadersMiddleware will activate HSTS
    'site.url' => 'http://localhost:8080',
    'site.title' => 'SpotDesk',

    // Database settings
    'db.dsn' => 'mysql:host=localhost;charset=utf8',
    'db.dbname' => 'spotdesk_dev',
    'db.user' => 'root',
    'db.pass' => '',

    // User password hashing configuration
    'password.algo' => PASSWORD_BCRYPT,
    'password.options' => [],

    // User session configuration
    'session.secret_key' => null, // GIVE THIS A SECURE VALUE, DO NOT USE A DEFAULT OR PLACEHOLDER!
    'session.duration' => 7200, // session expires after 2 hours
    'session.refresh_after' => .25,  // session is refreshed after .25 * 7200 = 1800 seconds (30 minutes)

    // SMTP configuration
    'smtp.from' => 'test@mail.dev',
    'smtp.server' => 'localhost',
    'smtp.port' => 587,
    'smtp.security' => null, // null, 'ssl' or 'tls'
    'smtp.user' => '',
    'smtp.pass' => '',
];
