<h1>New ticket</h1>

<table>
    <tr>
        <th>ID</th>
        <td>{{ ticket.getId().toString() }}</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>{{ ticket.getSubject() }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ ticket.getStatus().getStatus() }}</td>
    </tr>
</table>
