<h1>Ticket updated</h1>

<table>
    <tr>
        <th>ID</th>
        <td>{{ ticket.getId().toString() }}</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>{{ ticket.getSubject() }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ ticket.getStatus().getName() }}</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>{{ ticketUpdate.getMessage() | nl2br }}</td>
    </tr>
</table>
