<md-card id="{{ ctrl.mailbox.mailbox_id }}">
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media" layout>
                <i class="fa fa-folder-open" aria-hidden="true"></i>
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">Mailbox actions</md-tooltip>
                        <i class="fa fa-cog"></i>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div>
                        <md-button aria-label="Delete mailbox" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.deleteMailbox()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Delete mailbox
                            </md-tooltip>
                            <i class="fa fa-trash md-warn" aria-label="Delete mailbox"></i>
                        </md-button>
                        <md-button aria-label="Edit mailbox" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.editMailbox()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Edit mailbox
                            </md-tooltip>
                            <i class="fa fa-edit" aria-label="Edit mailbox"></i>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>

            <span class="md-headline">
                {{ ctrl.mailbox.name }}
            </span>
            <span class="md-subhead description">
                Department: {{ ctrl.mailbox.department_name }} <em ng-show="!ctrl.mailbox.department_name">[none]</em>
                | Last check: {{ ctrl.mailbox.last_check }}
            </span>
        </md-card-title-text>
    </md-card-title>
</md-card>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">IMAP instellingen</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <table class="sd-table" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <th>Server</th>
                    <td>{{ ctrl.mailbox.imap_server }}</td>
                </tr>
                <tr>
                    <th>Port</th>
                    <td>{{ ctrl.mailbox.imap_port }}</td>
                </tr>
                <tr>
                    <th>Security</th>
                    <td>{{ ctrl.mailbox.imap_security }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ ctrl.mailbox.imap_user }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><em>[hidden]</em></td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="editMailbox">
        <md-dialog aria-label="Edit mailbox">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit mailbox</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelEditMailbox()">
                            <i class="fa fa-close" aria-label="Cancel edit mailbox"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label for="mailbox_name">Name</label>
                            <input id="mailbox_name" ng-model="ctrl.mailbox.name" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Department</label>
                            <md-select ng-model="ctrl.mailbox.department_id">
                                <md-option value="">[none]</md-option>
                                <md-option ng-repeat="department in ctrl.departments" value="{{ department.department_id }}">
                                    {{ department.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="mailbox_imap_server">IMAP server</label>
                            <input id="mailbox_imap_server" ng-model="ctrl.mailbox.imap_server" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="mailbox_imap_port">IMAP port</label>
                            <input id="mailbox_imap_port" ng-model="ctrl.mailbox.imap_port" type="number">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>IMAP security</label>
                            <md-select ng-model="ctrl.mailbox.imap_security">
                                <md-option value="none">[none]</md-option>
                                <md-option value="ssl">SSL/TLS</md-option>
                                <md-option value="tls">STARTTLS</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="mailbox_imap_user">IMAP username</label>
                            <input id="mailbox_imap_user" ng-model="ctrl.mailbox.imap_user" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="mailbox_imap_pass">IMAP password</label>
                            <input id="mailbox_imap_pass" ng-model="ctrl.mailbox.imap_pass" type="text">
                        </md-input-container>

                        <p><em>
                            Note: password is required only when changing username or password. Otherwise it remains
                            unchanged when empty.
                        </em></p>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelEditMailbox()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitEditMailbox()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>
