<md-card>
    <md-table-container>
        <table md-table md-row-select multiple ng-model="ctrl.selected">
            <thead md-head md-order="ctrl.order">
            <tr md-row>
                <th md-column md-order-by="email"><span>E-mail</span></th>
                <th md-column md-order-by="display_name"><span>Display name</span></th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row md-select="u" md-select-id="email" md-auto-select
                ng-repeat="u in ctrl.users | orderBy: ctrl.order">
                <td md-cell>
                    {{ u.email }}
                </td>
                <td md-cell>
                    <strong>{{ u.display_name }}</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
</md-card>
