<md-card>
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media" layout>
                <i class="fa fa-user" aria-hidden="true" ng-hide="!ctrl.user.active"></i>
                <i class="fa fa-user-times" aria-hidden="true" ng-hide="ctrl.user.active"></i>
            </div>
        </md-card-title-media>
        <md-card-title-text>
            <md-fab-speed-dial md-direction="left" class="md-scale md-fab-top-right">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible">User actions</md-tooltip>
                        <i class="fa fa-cog"></i>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <div>
                        <md-button aria-label="Delete user" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.deleteUser()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Delete user
                            </md-tooltip>
                            <i class="fa fa-trash md-warn" aria-label="Delete user"></i>
                        </md-button>
                        <md-button aria-label="Edit user" class="md-fab md-raised md-mini"
                                   ng-click="ctrl.editUser()">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="true">
                                Edit user
                            </md-tooltip>
                            <i class="fa fa-edit" aria-label="Edit user"></i>
                        </md-button>
                    </div>
                </md-fab-actions>
            </md-fab-speed-dial>

            <span class="md-headline">{{ ctrl.user.display_name }}</span>
            <span class="md-subhead description">
                E-mail: {{ ctrl.user.email }}
            </span>
        </md-card-title-text>
    </md-card-title>
</md-card>

<md-card>
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">
                <i class="fa fa-building" aria-hidden="true"></i>
                Departments
            </span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <div layout="row">
            <div flex-xs flex="50" ng-repeat="d in ctrl.departments | orderBy: 'full_name'">
                <md-checkbox ng-checked="ctrl.hasDepartment(d)"
                             ng-click="ctrl.toggleDepartment(d)">
                    <span class="sd-muted-text">{{ d.path }}</span><strong>{{ d.name }}</strong>
                </md-checkbox>
            </div>
        </div>
        <div layout="row">
            <div layout="column" class="user-department-select-all">
                <div flex-xs flex="100">
                    <md-checkbox aria-label="Select All"
                                 ng-checked="ctrl.allDepartmentsChecked()"
                                 md-indeterminate="ctrl.departmentsAreIndeterminate()"
                                 ng-click="ctrl.toggleAllDepartments()">
                        <span ng-if="ctrl.allDepartmentsChecked()">Un-</span>Select All
                    </md-checkbox>
                </div>
            </div>
            <span flex></span>
            <div layout="column">
                <md-button class="md-raised md-primary" ng-click="ctrl.saveDepartments()">
                    Save
                </md-button>
            </div>
        </div>
    </md-card-content>
</md-card>

<div style="visibility: hidden">
    <div class="md-dialog-container" id="editUser">
        <md-dialog aria-label="Edit user">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Edit user</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.cancelEditUser()">
                            <i class="fa fa-close" aria-label="Cancel edit user"></i>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <md-input-container class="md-block">
                            <label for="user_name">User e-mail</label>
                            <input id="user_name" ng-model="ctrl.user.email" type="email" readonly>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label for="display_name">Display name</label>
                            <input id="display_name" ng-model="ctrl.user.display_name" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-switch class="md-primary" ng-model="ctrl.user.active">
                                Active user
                            </md-switch>
                        </md-input-container>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button ng-click="ctrl.cancelEditUser()">
                        Cancel
                    </md-button>
                    <md-button class="md-primary" ng-click="ctrl.submitEditUser()">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </div>
</div>
